html {
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    background-color: white;
    height: max-content;
}

header {
    background: linear-gradient(90deg, #1F4D37 0.68%, #00833A 99.69%);
    width: 100%;
    height: 70.4px;
    left: 0px;
    top: 0px;
}

.btnLogo {
    position: absolute;
    left: 39.2px;
}

.logo {
    width: 116px;
    height: 41.46px;
}

.btnNav {
    position: absolute;
    left: 332.8px;
}

.dropdownHeader {
    position: absolute;
    right: 62.4px;
}

.btn-dropdown-header {
    border: 1px solid #FC6A38;
    width: 142.4px;
    height: 35.2px;
    background-color: rgba(255, 255, 255, 0.00);
    color: white;
    font-size: x-small;
}

.dropdown-item-list {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item-list:hover {
background: #f8f9fa;
}

.dropdown-item:active {
    color: #00833A;
}

.btn-login {
    border: 1px solid #FC6A38;
    width: 117.6px;
    height: 35.2px;
    background-color: #FC6A38;
    color: white;
}

.texto-btn-login {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11.2px;
    margin: 0px 0px 0px 0px;
}

.icon-prop {
    font-size: 16px;
    margin-right: 8px;
}

.texto-usuario {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    margin: 0px 0px 0px 0px;
}

.icon-prop-usuario {
    font-size: 16px;
    margin-right: 8px;
}

a:hover {
    color: #1F4D37;
    text-decoration: none;
}

#email{
    color: white;
    text-decoration: none;
    margin: 0;
}

.nav-item-style {
    color: white;
    border-left-style: solid;
    border-width: 1px;
    border-color: #FC6A38;
    padding-left: 15px;
}

.nav-item-style:hover {
    color: #CF5B15;
    text-decoration: none;
}

.texto-nav {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin: 0px 15px 0px 0px;
    padding-left: 15px;
}

#titulo-modal {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 17.6px;
    margin: 0;
    display: flex;
    align-items: center;
}

.modal-dialog {
    max-width: 699.2px;
    top: 104px;
    margin-top: 0;
    margin-bottom: 0;
}

.modal-content {
    height: 420.8px;
}

.modal-header {
    height: 48.8px;
    border: 1px solid #DEE2E6;
}

.modal-video {
    width: inherit;
    height: 307.2px;
    margin: 0;
}

.main {
    position: absolute;
    height: auto;
    width: 100%;
    min-height: 550px;
    top: 70.4px;
}

.container {
    max-width: 1156.8px;
    padding: 0;
}

#divisao1 {
    position: relative;
    height: 484.8px;
    width: 100%;
}

#img-prop {
    height: inherit;
    width: inherit;
}

#img-logo {
    position: absolute;
    height: 100.8px;
    width: 282.4px;
    top: 192px;
    left: 437.2px;
}

#divisao2 {
    position: relative;
    height: 565px;
    width: 100%;
}

#divisao2-right {
    height: inherit;
    width: 50%;
}

#divisao2-right-top {
    height: 339.2px;
    width: 100%;
    padding: 30px 0px 0px 0px;
}

#divisao2-right-bot {
    height: 190.4px;
    width: 100%;
    padding: 5px 0px 0px 0px;
}

#divisao2-left {
    height: inherit;
    width: 50%;
}

#img3-prop {
    position: relative;
    height: 465.6px;
    width: 100%;
    top: 100px;
}

#divisao3 {
    position: relative;
    height: 579px;
    width: 100%;
}

#divisao3-right {
    height: inherit;
    width: 45%;
}

#divisao3-left {
    height: inherit;
    width: 55%;
}

#divisao3-left-top {
    height: 57%;
    width: 100%;
    padding: 115.2px 0px 0px 0px;
}

#divisao3-left-bot {
    height: 43%;
    width: 100%;
}

#divisao3-left-bot-top {
    height: 10%;
    width: 100%;
    padding: 0px 0px 0px 0px;
}

#divisao3-left-bot-bot {
    height: 90%;
    width: 100%;
    padding: 0px 0px 0px 0px;
}

#img4-prop {
    position: relative;
    height: 302.4px;
    width: 443.2px;
    top: 80.6px;
}

#img5-prop {
    position: relative;
    height: 92.8px;
    width: 97.88px;
    margin-top: 32px;
}

#img6-prop {
    position: relative;
    height: 102.4px;
    width: 80px;
    margin: 22.4px 0px 0px 79.2px;
    margin-top: 22.4px;
}

#img7-prop {
    position: relative;
    height: 92.8px;
    width: 97.88px;
    margin: 32px 0px 0px 79.2px;
}

#divisao4 {
    position: relative;
    height: 271.2px;
    width: 100%;
    padding-top: 30.4px;
    background: rgba(27, 84, 56, 0.05);
}

#img8-prop {
    position: relative;
    height: 72px;
    width: 248.8px;
    margin: 32px 0px 0px;
}

#img9-prop {
    position: relative;
    height: 89.6px;
    width: 260px;
    margin: 32px 0px 0px 72.8px;
}

#img10-prop {
    position: relative;
    height: 61.6px;
    width: 136.8px;
    margin: 32px 0px 0px 72.8px;
}

#img11-prop {
    position: relative;
    height: 105.6px;
    width: 163.2px;
    margin: 32px 0px 0px 72.8px;
}

#divisao5 {
    position: relative;
    height: 656.8px;
    width: 100%;
}

#divisao5-right {
    height: inherit;
    width: 60%;
    padding-top: 76.8px;
}

#divisao5-left {
    height: inherit;
    width: 40%;
}

#img12-prop {
    position: relative;
    height: 362.4px;
    width: 503.2px;
    top: 80.6px;
}

.topicos-ecossistema {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28.8px;
    padding-bottom: 22px;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #1B5438;
}

.textos-ecossistema {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 14.6px;
    margin: 0;
    align-items: center;
    color: #000000;
}

.lista-textos-ecossistema {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 14.6px;
    margin: 0;
    padding: 15px 0px 0px 15px;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 73.6px;
    background: linear-gradient(90deg, rgba(31, 77, 55, 0.5) 0.68%, rgba(0, 131, 58, 0.5) 99.69%);
}

.div-footer1 {
    margin-right: 40px;
}

.div-footer1 ul {
    margin: 0;
    padding: 0;
}

.div-footer1 ul li {
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: white;
    margin: 0px 10px 0px 0px;
}

.div-footer2 {
    width: 196px;
    padding-left: 40px;
    font-size: x-small;
    color: white;
    border-left-style: solid;
    border-width: thin;
}

.div-footer2 p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin: 0px 0px 0px 10px;
}

.btn-entrar {
    width: 117px;
    height: 35.2px;
    border-width: 0px;
    border-left-style: solid;
    border-color: #FC6A38;
    background: #FC6A38;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
    font-size: small;
    margin: 25px 0px 15px 0px;
}