/*Notebook*/

@media only screen and (min-width: 1024px) {
    html {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    body {
        background-color: white;
        height: max-content;
    }
    /*PROPRIEDADES DA BARRA DE NAVEGAÇÃO*/
    header {
        background: linear-gradient(90deg, #1F4D37 0.68%, #00833A 99.69%);
        width: 100%;
        height: 70.4px;
        left: 0px;
        top: 0px;
        display: flex;
        align-content: space-between;
    }
    #barra_nav {
        height: 100%;
        /*min-width: 1024px;*/
    }
    .logo {
        width: 116px;
        height: 41.46px;
    }
    .btnLogo {
        position: relative;
        margin-left: 39.2px;
    }
    .navbar {
        width: inherit;
    }
    .btnNav {
        position: relative;
        margin-left: 177.6px;
        margin-right: auto;
    }
    .dropdownHeader {
        position: relative;
        margin-right: 62.4px;
    }
    .btn-dropdown-header {
        border: 1px solid #FC6A38;
        width: 142.4px;
        height: 35.2px;
        background-color: rgba(255, 255, 255, 0.00);
        color: white;
        font-size: x-small;
    }
    .dropdown-item-list {
        display: block;
        width: 100%;
        padding: .25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }
    .dropdown-item-list:hover {
        background: #f8f9fa;
    }
    .dropdown-item:active {
        color: #00833A;
    }
    .btn-login {
        border: 1px solid #FC6A38;
        width: 117.6px;
        height: 35.2px;
        background-color: #FC6A38;
        color: white;
    }
    .texto-btn-login {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 11.2px;
        margin: 0px 0px 0px 0px;
    }
    .icon-prop {
        font-size: 16px;
        margin-right: 8px;
    }
    .texto-usuario {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 13px;
        margin: 0px 0px 0px 0px;
    }
    .icon-prop-usuario {
        font-size: 16px;
        margin-right: 8px;
    }
    a:hover {
        color: #1F4D37;
        text-decoration: none;
    }
    #email {
        color: white;
        text-decoration: none;
        margin: 0;
    }
    .nav-item-style {
        color: white;
        border-left-style: solid;
        border-width: 1px;
        border-color: #FC6A38;
        padding-left: 15px;
    }
    .nav-item-style:hover {
        color: #CF5B15;
        text-decoration: none;
    }
    .texto-nav {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15px;
        margin: 0px 15px 0px 0px;
        padding-left: 15px;
    }
    /*PROPRIEDADES DOS MODAIS */
    #titulo-modal {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-size: 17.6px;
        margin: 0;
        display: flex;
        align-items: center;
    }
    .modal-dialog {
        max-width: 699.2px;
        top: 104px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .modal-content {
        height: 420.8px;
    }
    .modal-header {
        height: 48.8px;
        border: 1px solid #DEE2E6;
    }
    .modal-video {
        width: inherit;
        height: 307.2px;
        margin: 0;
    }
    /*INICIO DO MAIN */
    .main {
        position: relative;
        height: auto;
        width: 100%;
        min-height: 550px;
    }
    .container {
        max-width: 1156.8px;
        padding: 0;
    }
    #divisao1 {
        position: relative;
        height: 484.8px;
        width: 100%;
    }
    #img-prop {
        height: inherit;
        width: inherit;
    }
    #img-logo {
        position: absolute;
        height: 100.8px;
        width: 282.4px;
        top: 192px;
        left: 437.2px;
    }
    #divisao2 {
        position: relative;
        height: 565px;
        width: 100%;
    }
    #divisao2-right {
        height: inherit;
        width: 50%;
    }
    #divisao2-right-top {
        height: 339.2px;
        width: 100%;
        padding: 30px 0px 0px 0px;
    }
    #divisao2-right-bot {
        height: 190.4px;
        width: 100%;
        padding: 5px 0px 0px 0px;
    }
    #divisao2-left {
        height: inherit;
        width: 50%;
    }
    #img3-prop {
        position: relative;
        height: 465.6px;
        width: 100%;
        top: 100px;
    }
    #divisao3 {
        position: relative;
        height: 579px;
        width: 100%;
    }
    #divisao3-right {
        height: inherit;
        width: 45%;
    }
    #divisao3-left {
        height: inherit;
        width: 55%;
    }
    #divisao3-left-top {
        height: 57%;
        width: 100%;
        padding: 115.2px 0px 0px 0px;
    }
    #divisao3-left-bot {
        height: 43%;
        width: 100%;
    }
    #divisao3-left-bot-top {
        height: 10%;
        width: 100%;
        padding: 0px 0px 0px 0px;
    }
    #divisao3-left-bot-bot {
        height: 90%;
        width: 100%;
        padding: 0px 0px 0px 0px;
    }
    #img4-prop {
        position: relative;
        height: 302.4px;
        width: 443.2px;
        top: 80.6px;
    }
    #img5-prop {
        position: relative;
        height: 92.8px;
        width: 97.88px;
        margin-top: 32px;
    }
    #img6-prop {
        position: relative;
        height: 102.4px;
        width: 80px;
        margin: 22.4px 0px 0px 79.2px;
        margin-top: 22.4px;
    }
    #img7-prop {
        position: relative;
        height: 92.8px;
        width: 97.88px;
        margin: 32px 0px 0px 79.2px;
    }
    #divisao4 {
        position: relative;
        height: 271.2px;
        width: 100%;
        padding-top: 30.4px;
        background: rgba(27, 84, 56, 0.05);
    }
    .divisao4-order {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #img8-prop {
        position: relative;
        height: 72px;
        width: 248.8px;
        margin: 32px 0px 0px;
    }
    #img9-prop {
        position: relative;
        height: 89.6px;
        width: 260px;
        margin: 32px 0px 0px 65px;
    }
    #img10-prop {
        position: relative;
        height: 61.6px;
        width: 136.8px;
        margin: 32px 0px 0px 65px;
    }
    #img11-prop {
        position: relative;
        height: 105.6px;
        width: 163.2px;
        margin: 32px 0px 0px 65px;
    }
    #divisao5 {
        position: relative;
        height: 656.8px;
        width: 100%;
    }
    #divisao5-right {
        height: inherit;
        width: 60%;
        padding-top: 76.8px;
    }
    #divisao5-left {
        height: inherit;
        width: 40%;
    }
    #img12-prop {
        position: relative;
        /*height: 362.4px;*/
        width: 100%;
        top: 80.6px;
    }
    .topicos-ecossistema {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 28.8px;
        padding-bottom: 22px;
        margin: 0;
        display: flex;
        align-items: center;
        text-align: justify;
        color: #1B5438;
    }
    .textos-ecossistema {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-size: 14.6px;
        margin: 0;
        align-items: center;
        color: #000000;
    }
    .lista-textos-ecossistema {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-size: 14.6px;
        margin: 0;
        padding: 15px 0px 0px 15px;
    }
    /*FOOTER*/
    footer {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 73.6px;
        background: linear-gradient(90deg, rgba(31, 77, 55, 0.5) 0.68%, rgba(0, 131, 58, 0.5) 99.69%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .prefooter {
        display: contents;
    }
    .div-footer1 {
        margin-right: 15px;
    }
    .div-footer1 ul {
        margin: 0;
        padding: 0;
    }
    .div-footer1 ul li {
        display: inline-block;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 17px;
        font-weight: bold;
        color: white;
    }
    .div-footer1_1 {
        display: inline-block;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 17px;
        font-weight: bold;
        color: white;
        margin: 0px 50px 0px 0px;
    }
    .div-footer2 {
        width: 196px;
        padding-left: 40px;
        font-size: x-small;
        color: white;
        border-left-style: solid;
        border-width: thin;
    }
    .div-footer-beta {
        width: fit-content;
        font-size: x-small;
        color: white;
        margin: 0;
    }
    .div-footer2 p {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        margin: 0px 0px 0px 10px;
    }
    .btn-entrar {
        width: 117px;
        height: 35.2px;
        border-width: 0px;
        border-left-style: solid;
        border-color: #FC6A38;
        background: #FC6A38;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgb(255, 255, 255);
        font-size: small;
        margin: 25px 0px 15px 0px;
    }
}

/*Mobile*/

@media only screen and (max-width: 1024px) {
    html {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    body {
        background-color: white;
        height: max-content;
    }
    /*BARRA DE NAVEGAÇÃO*/
    header {
        background: linear-gradient(90deg, #1F4D37 0.68%, #00833A 99.69%);
        width: 100%;
        min-height: 60px;
        left: 0px;
        top: 0px;
        display: flex;
    }
    .logo {
        width: 107px;
        height: 39px;
    }
    .btnLogo {
        position: relative;
        margin-left: 20px;
    }
    .navbar {
        width: inherit;
    }
    .btnNav {
        /*position: relative;
        margin-left: 177.6px;
        margin-right: auto;*/
    }
    .dropdownHeader {
        /*position: relative;
        margin-right: 62.4px;*/
    }
    .btn-dropdown-header {
        border: 1px solid #FC6A38;
        width: 142.4px;
        height: 35.2px;
        background-color: rgba(255, 255, 255, 0.00);
        color: white;
        font-size: x-small;
    }
    .dropdown-item-list {
        display: block;
        width: 100%;
        padding: .25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }
    .dropdown-item-list:hover {
        background: #f8f9fa;
    }
    .dropdown-item:active {
        color: #00833A;
    }
    .btn-login {
        border: 1px solid #FC6A38;
        width: 117.6px;
        height: 35.2px;
        background-color: #FC6A38;
        color: white;
        margin-top: 15px;
    }
    .texto-btn-login {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 11.2px;
        margin: 0px 0px 0px 0px;
    }
    .icon-prop {
        font-size: 16px;
        margin-right: 8px;
    }
    .texto-usuario {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 13px;
        margin: 0px 0px 0px 0px;
    }
    .icon-prop-usuario {
        font-size: 16px;
        margin-right: 8px;
    }
    a:hover {
        color: #1F4D37;
        text-decoration: none;
    }
    #email {
        color: white;
        text-decoration: none;
        margin: 0;
    }
    .nav-item-style {
        color: white;
        border-left-style: solid;
        border-width: 1px;
        border-color: #FC6A38;
        padding: 15px 0px 0px 15px;
    }
    .nav-item-style:hover {
        color: #CF5B15;
        text-decoration: none;
    }
    .texto-nav {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15px;
        margin: 0px 15px 0px 0px;
        padding-left: 15px;
    }
    /*MODAL*/
    #titulo-modal {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-size: 17.6px;
        margin: 0;
        display: flex;
        align-items: center;
    }
    .modal-dialog {
        max-width: 699.2px;
        top: 104px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .modal-content {
        height: 420.8px;
    }
    .modal-header {
        height: 48.8px;
        border: 1px solid #DEE2E6;
    }
    .modal-video {
        width: inherit;
        height: 307.2px;
        margin: 0;
    }
    /*INICIO DAS TELAS DE CONTEÚDO*/
    .main {
        position: relative;
        height: auto;
        width: 100%;
        min-height: 550px;
    }
    .container {
        padding: 0;
    }
    /*DIVISÃO 1*/
    #divisao1 {
        position: relative;
        width: 100%;
    }
    .carousel-item img {
        height: 190px;
    }
    #img-inicio2 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 190px;
        width: inherit;
    }
    #img-logo {
        position: absolute;
        height: 71px;
        width: 177px;
        /*top: 192px;
        left: 437.2px;*/
    }
    /*DIVISÃO 2*/
    #divisao2 {
        position: relative;
        width: 100%;
    }
    #divisao2-right {
        height: inherit;
        width: 100%;
        padding: 0px 34px 0px 34px;
    }
    #divisao2-right-top {
        width: 100%;
        padding: 30px 0px 0px 0px;
    }
    #divisao2-right-bot {
        width: 100%;
        padding: 27px 0px 0px 0px;
    }
    #divisao2-left {
        display: none;
    }
    #img3-prop {
        position: relative;
        height: 465.6px;
        width: 100%;
        top: 100px;
    }
    /*DIVISÃO 3*/
    #divisao3 {
        position: relative;
        margin: 0px 34px 0px 34px;
    }
    #divisao3-right {
        height: inherit;
        width: 45%;
        display: none;
    }
    #divisao3-left {
        height: inherit;
        width: 100%;
    }
    #divisao3-left-top {
        height: 57%;
        width: 100%;
        padding: 37px 0px 0px 0px;
    }
    #divisao3-left-bot {
        height: 43%;
        width: 100%;
    }
    #divisao3-left-bot-top {
        width: 100%;
        padding: 25px 0px 0px 0px;
    }
    #divisao3-left-bot-bot {
        height: 90%;
        width: 100%;
        padding: 0px 0px 0px 0px;
    }
    #img5-prop {
        position: relative;
        width: 62.71px;
        height: 59.46px;
        margin: 47.15px 0px 0px 39px;
    }
    #img6-prop {
        position: relative;
        width: 51.26px;
        height: 65.61px;
        margin: 41px 51.74px 0px 52.29px;
    }
    #img7-prop {
        position: relative;
        width: 62.71px;
        height: 59.46px;
        margin: 47px 39px 0px 0px;
    }
    /*DIVISÃO 4*/
    #divisao4 {
        position: relative;
        height: fit-content;
        width: 100%;
        margin-top: 40.4px;
        padding: 30.4px 0px 30.4px 0px;
        background: rgba(27, 84, 56, 0.05);
    }
    .divisao4-order {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #img8-prop {
        position: relative;
        height: 57.6px;
        width: 199.04px;
        margin-top: 25px;
        /*margin: 32px 0px 0px;*/
    }
    #img9-prop {
        position: relative;
        height: 71.68px;
        width: 208px;
        margin-top: 25px;
        /* margin: 32px 0px 0px 72.8px;*/
    }
    #img10-prop {
        position: relative;
        height: 49.28px;
        width: 109.44px;
        margin-top: 25px;
        /*margin: 32px 0px 0px 72.8px;*/
    }
    #img11-prop {
        position: relative;
        height: 84.48px;
        width: 130.56px;
        margin-top: 25px;
        /*margin: 32px 0px 0px 72.8px;*/
    }
    /*DIVISÃO 5*/
    #divisao5 {
        position: relative;
        height: fit-content;
        width: 100%;
    }
    #divisao5-right {
        height: inherit;
        width: 100%;
        padding: 41px 34px 0px 34px;
    }
    #divisao5-left {
        display: none;
        height: inherit;
        width: 40%;
    }
    #img12-prop {
        position: relative;
        height: 362.4px;
        width: 503.2px;
        top: 80.6px;
    }
    /*FOOTER*/
    footer {
        position: relative;
        display: flex;
        flex-direction: column;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 13px 31px 25.1px 38.39px;
        margin-top: 36px;
        background: linear-gradient(90deg, rgba(31, 77, 55, 0.5) 0.68%, rgba(0, 131, 58, 0.5) 99.69%);
    }
    .prefooter {
        display: flex;
    }
    .div-footer1 ul {
        display: flex;
        margin: 0;
        padding: 0;
    }
    .div-footer1 ul li {
        display: block;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 17px;
        font-weight: bold;
        color: white;
        /*margin: 0px 10px 0px 0px;*/
    }
    .div-footer1 ul li li i {
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
    .div-footer1_1 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 17px;
        font-weight: bold;
        color: white;
        margin-top: 20px;
    }
    .div-footer2 {
        width: 196px;
        font-size: x-small;
        color: white;
        /*border-left-style: solid;
        border-width: thin;*/
    }
    .div-footer-beta {
        width: fit-content;
        font-size: x-small;
        color: white;
        margin: 0;
    }
    .div-footer2 p {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        margin: 14px 0px 0px 0px;
    }
    /*PROPRIEDADES DOS TEXTOS*/
    .topicos-ecossistema {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 10px;
        margin: 0;
        display: flex;
        align-items: center;
        text-align: justify;
        color: #1B5438;
    }
    .textos-ecossistema {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-size: 14px;
        margin: 0;
        align-items: center;
        color: #000000;
    }
    .lista-textos-ecossistema {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-size: 14.6px;
        margin: 0;
        padding: 15px 0px 0px 15px;
    }
}