html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: #FAFAFA;
    height: 100%;
}

header {
    background: linear-gradient(90deg, #1F4D37 0.68%, #00833A 99.69%);
    width: 100%;
    height: 70.4px;
    left: 0px;
    top: 0px;
}

.btnLogo {
    position: absolute;
    left: 39.2px;
}

.logo {
    width: 116px;
    height: 41.46px;
}

.btnNav {
    position: absolute;
    left: 332.8px;
}

.dropdownHeader {
    position: absolute;
    right: 62.4px;
}

.dropdown-item-list {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item-list:hover {
    background: #f8f9fa;
}

.dropdown-item:active {
    color: #00833A;
}




.buscaHeader {
    position: absolute;
    right: 220px;
}

.btn-busca {
    width: 117px;
    height: 35.2px;
    border-width: 1px;
    border-left-style: solid;
    border-color: white;
    border-radius: 0;
    background: #FC6A38;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
    font-size: small;
}

.btn-busca:hover {
    color: #1F4D37;
}

.btn-busca-dropdown {
    height: 35.2px;
    border-width: 1px;
    border-left-style: solid;
    border-color: white;
    border-radius: 0;
    background: #FC6A38;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
    font-size: small;
}

.btn-busca-dropdown:hover {
    color: #1F4D37;
}

.form-control {
    width: 200px;
    height: 35.2px;
    border-radius: 0;
}

.btn-dropdown-header {
    border: 1px solid #FC6A38;
    width: 142.4px;
    height: 35.2px;
    background-color: rgba(255, 255, 255, 0.00);
    color: white;
    font-size: x-small;
}

.btn-login {
    border: 1px solid #FC6A38;
    width: 117.6px;
    height: 35.2px;
    background-color: #FC6A38;
    color: white;
}

.texto-btn-login {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11.2px;
    margin: 0px 0px 0px 0px;
}

.icon-prop {
    font-size: 16px;
    margin-right: 8px;
}

.texto-usuario {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    margin: 0px 0px 0px 0px;
}

.icon-prop-usuario {
    font-size: 16px;
    margin-right: 8px;
}

.nav-item-style {
    color: white;
    border-left-style: solid;
    border-width: 1px;
    border-color: #FC6A38;
    padding-left: 15px;
}

.nav-item-style:hover {
    color: #CF5B15;
    text-decoration: none;
}

.texto-nav {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin: 0px 15px 0px 0px;
    padding-left: 15px;
}

#titulo-modal {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 17.6px;
    margin: 0;
    display: flex;
    align-items: center;
}

.modal-dialog {
    max-width: 699.2px;
    top: 104px;
    margin-top: 0;
    margin-bottom: 0;
}

.modal-content {
    height: 420.8px;
}

.modal-header {
    height: 48.8px;
    border: 1px solid #DEE2E6;
}

.modal-video {
    width: inherit;
    height: 307.2px;
    margin: 0;
}

.main {
    position: relative;
    width: 100%;
    min-height: calc(100% - 144px);
    padding-top: 15px;
    left: 0;
}

#lista-eventos {
    margin: 0;
    padding: 0;
}

.card-evento {
    width: 870.4px;
    height: 197.60px;
    background: rgba(160, 160, 160, 0.08);
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 6px;
}

.card-evento-A {
    height: inherit;
    width: 35%;
    float: left;
    background: url(image.png);
    border-radius: 6px 0px 0px 6px;
}

#img-evento {
    height: 100%;
    width: 100%;
    border-radius: 6px 0px 0px 6px;
}

.card-evento-B {
    height: inherit;
    width: 65%;
    float: right;
    background: linear-gradient(90deg, rgba(31, 77, 55, 0.15) 0.68%, rgba(0, 131, 58, 0.15) 99.69%);
    border-radius: 0px 6px 6px 0px;
}

#titulo-evento {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    margin: 20.8px 0px 11.2px 18.4px;
    color: #1B5438;
}

#descricao-evento {
    height: 53.6px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12.8px;
    margin: 0px 11.2px 22.2px 18.4px;
    text-align: justify;
}

#conteudo-evento-A {
    height: 44.8px;
    width: 60%;
    float: left;
    margin: 0px 0px 0px 18.4px;
}

#conteudo-evento-B {
    height: 44.8px;
    width: 33%;
    float: right;
    margin: 0px 11.2px 0px 0px;
}

.dados-evento {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #1B5438;
}

.dados-evento p {
    font-size: 10px;
    padding-left: 14.4px;
    margin: 0;
    color: rgba(44, 44, 44, 1);
}

#btn-evento1 {
    height: 70%;
    width: 49%;
    margin-right: 3px;
    border: 1px solid #FC6A38;
    background: #FC6A38;
}

.texto-btn-evento1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-small;
    color: white;
    margin: 0;
}

#btn-evento2 {
    height: 70%;
    width: 49%;
    border: 1px solid #FC6A38;
    background: white;
}

a:hover {
    color: #1F4D37;
    text-decoration: none;
}

.texto-btn-evento2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-small;
    color: #FC6A38;
    margin: 0;
}

#card-login-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 5px;
}

#barra-title {
    width: 870.4px;
    height: 49.6px;
    background-color: rgba(27, 84, 56, 1);
    border-radius: 6px;
    margin-bottom: 15.2px;
}

#barra-text-title {
    height: 49.6px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: white;
}

.card-login-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
}

#txtAjuda {
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    text-decoration: underline;
    padding: 5px 15px 0px 0px;
    right: 0px;
}

.card-login-form {
    width: 100%;
    height: 30px;
    background: #FFFFFF;
    border: 0.5px solid #C5C5C5;
    box-sizing: border-box;
    border-radius: 3px;
    padding-left: 10px;
    font-size: small;
    font-style: italic;
    line-height: 19px;
}

footer {
    position: absolute;
    width: 100%;
    height: 73.6px;
    left: 0;
    bottom: auto;
    background: linear-gradient(90deg, rgba(31, 77, 55, 0.5) 0.68%, rgba(0, 131, 58, 0.5) 99.69%);
}

#email{
    color: white;
    text-decoration: none;
    margin: 0;
}

.div-footer1 {
    margin-right: 40px;
}

.div-footer1 ul {
    margin: 0;
    padding: 0;
}

.div-footer1 ul li {
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: white;
    margin: 0px 10px 0px 0px;
}

.div-footer2 {
    width: 196px;
    padding-left: 40px;
    font-size: x-small;
    color: white;
    border-left-style: solid;
    border-width: thin;
}

.div-footer2 p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin: 0px 0px 0px 10px;
}

.container {
    min-height: 100%;
}